<div class="container">
  <div class="row">
    <div class="col">
      <main class="form-signin">
        <form   *ngIf="signupForm" [formGroup]="signupForm">
          <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
          <div class="form-floating mb-2">
            <input type="email" class="form-control" formControlName="fullName"   placeholder="Full Name" >
            <label >Full Name</label>
          </div>
          <div class="form-floating mb-2">
            <input type="text" class="form-control"  formControlName="email"  placeholder="Email Address" >
            <label >Email address</label> 
          </div>
          <div class="form-floating mb-2">
            <input type="password" class="form-control"  formControlName="pwd" [pwdStrength]="config"  placeholder="Password" >
            <label >Password</label>
          </div>

          <div class="form-floating mb-4">
            <input type="password" class="form-control"  formControlName="confirmPwd" id="confPwd" placeholder="Confirm Password" >
            <label for="confPwd">Confirm Password</label>
          </div> 

          <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="signupForm.invalid">Sign in</button>
        </form>
      </main>
    </div>
  </div>
</div>
